# Environment Variables

# Database
DATABASE_URL=postgresql://mohamedashrefbenabdallah@localhost:5432/openmotion

# AWS S3
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=your-access-key-id
AWS_SECRET_ACCESS_KEY=your-secret-access-key
AWS_BUCKET_NAME=openmotion-assets

# Remotion
REMOTION_BROWSER_EXECUTABLE_PATH=/Applications/Google Chrome.app/Contents/MacOS/Google Chrome

# Node Environment
NODE_ENV=development
